<!DOCTYPE html>
<html lang="zh">

<head>
    <link rel="shortcut icon" href="static/images/favicon.ico"/>
    <meta charset="utf-8"/>
    <title>关于我们</title>
    <link href="static/styles/reset.css" type="text/css" rel="stylesheet"/>
    <link href="static/styles/style.css" type="text/css" rel="stylesheet"/>
    <link href="static/styles/inner.css" rel="stylesheet" type="text/css"/>
    <!--[if IE]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <!-- ////////////////////////////////// -->
    <!-- //      Javascript Files        // -->
    <!-- ////////////////////////////////// -->
    <script type="text/javascript" src="static/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="static/js/hoverIntent.js"></script>
    <script type="text/javascript" src="static/js/superfish.js"></script>
    <script type="text/javascript" src="static/js/supersubs.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            //=================================== MAIN MENU ===================================//
            jQuery("ul.sf-menu").supersubs({
                minWidth: 12,		// requires em unit.
                maxWidth: 14,		// requires em unit.
                extraWidth: 3	// extra width can ensure lines don't sometimes turn over due to slight browser differences in how they round-off values
                // due to slight rounding differences and font-family 
            }).superfish();  // call supersubs first, then superfish, so that subs are 
            // not display:none when measuring. Call before initialising 
            // containing tabs for same reason.

            //=================================== TABS ===================================//
            //jQuery tab
            jQuery(".tab-content").hide(); //Hide all content
            jQuery("ul.tabs li:first").addClass("active").show(); //Activate first tab
            jQuery(".tab-content:first").show(); //Show first tab content
            //On Click Event
            jQuery("ul.tabs li").click(function () {
                jQuery("ul.tabs li").removeClass("active"); //Remove any "active" class
                jQuery(this).addClass("active"); //Add "active" class to selected tab
                jQuery(".tab-content").hide(); //Hide all tab content
                var activeTab = jQuery(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
                jQuery(activeTab).fadeIn(200); //Fade in the active content
                return false;
            });

        });
    </script>


</head>

<body>
<div id="bodychild">
    <div id="outercontainer">

        <!-- HEADER -->
        <div id="outerheader">
            <header id="top">
                <div id="logo"><a href="index.html"><img src="static/images/logo.png" alt=""></a></div>
                <section id="navigation">
                    <nav>
                        <ul id="topnav" class="sf-menu">
                            <li><a href="/">主页</a></li>
                            <li class="current"><a href="/about">财经新闻</a></li>
                            <li><a href="/service">体育新闻</a></li>
                            <li><a href="/portfolio">以图搜图</a></li>
                            <li><a href="/game">学累了？玩一会吧！</a></li>
                        </ul><!-- topnav -->
                    </nav><!-- nav -->
                    <div class="clear"></div>
                </section>
                <div class="clear"></div>
            </header>
        </div>
        <!-- END HEADER -->


        <!-- MAIN CONTENT -->
        <div id="outermain">
            <section id="maincontent">

                <!-- SEARCH -->
                <div id="search-box">
                    <input type="text" id="search-input" placeholder="Enter search term...">
                    <button onclick="performSearch()">Search</button>
                </div>

                <label for="sort_by">排序方式:</label>
                    <select name="sort_by" id="sort_by">
                        <option value="relevance">相关性</option>
                        <option value="time">时间</option>
                        
                    </select>

                <div class="separator line">
                    <div></div>
                </div>

                <div class="clear"></div>
            </section>
        </div>
        <!-- END MAIN CONTENT -->


        <link rel="stylesheet" href="static/styles/gundong.css">
        <div id="hotspot">
            <section id="maincontent">
                <h2>猜你喜欢</h2>
                <div class="image-slider">
                    <div class="slides">
                        <div class="slide">
                            <img src="static/images/content/pf/caijing1(1).jpg" ,alt="Image 1">
                            <a href="http://www.news.cn/fortune/20240109/9829c079ee0c420fafd87269ae6d64e8/c.html">
                                <p> C919京沪航“飞起来” 大国重器“新远航”</p>
                            </a>
                        </div>

                        <div class="slide">
                            <img src="static/images/content/pf/caijing2(1).jpg" ,alt="Image 2">
                            <a href="http://www.news.cn/fortune/20240108/e9937e970d7345a885d063a6aa74f3b5/c.html">
                                <p>稳住外贸外资基本盘 扩大制度型开放——“中国经济圆桌会”聚焦高水平对外开放新机遇</p>
                            </a>
                        </div>

                        <div class="slide">
                            <img src="static/images/content/pf/caijing4(2).jpg" ,alt="Image 3">
                            <a href="http://www.news.cn/fortune/20240105/b9a56162e6364b1c9840dd4706b508ed/c.html">
                                <p>推动经济社会数字化转型</p>
                            </a>
                        </div>

                        <div class="slide">
                            <img src="static/images/content/pf/caijing4(1).jpg" ,alt="Image 4">
                            <a href="http://www.news.cn/fortune/20240107/da1ae6a1fef747cdb5ca8cf29dbe742b/c.html">
                                <p>冰雪经济热力十足</p>
                            </a>
                        </div>
                        <div class="slide">
                            <img src="static/images/content/pf/caijing1(1).jpg" ,alt="Image 1">
                            <a href="http://www.news.cn/fortune/20240109/9829c079ee0c420fafd87269ae6d64e8/c.html">
                                <p> C919京沪航“飞起来” 大国重器“新远航”</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="separator line">
                    <div></div>
                </div>

                <div class="clear"></div>
            </section>
            <link rel="stylesheet" href="styles/redian1.css">
            <div id="guesss">
                <section id="maincontent">
                    
                    <div class="container">
                            
                        <a href="https://www.chinanews.com.cn/cj/2024/01-11/10144199.shtml">
                            <p><img src="static/images/content/pf/caijing5.jpg",alt="Image 6">《繁花》带热老上海怀旧游，带火“繁花概念股”</p>
                        </a>
                    </div>
                    <div class="container">
                            
                        <a href="https://www.chinanews.com.cn/cj/2024/01-11/10144102.shtml">
                            <p><img src="static/images/content/pf/caijing6.jpg",alt="Image 6">探秘“浙江经济第一镇”：千亿级工业的“善治”之道</p>
                        </a>
                    </div>
                    <div class="container">
                            
                        <a href="https://www.chinanews.com.cn/cj/2024/01-11/10144081.shtml">
                            <p><img src="static/images/content/pf/caijing7.jpg",alt="Image 6">全球海拔最高的大型抽水蓄能电站在四川道孚开工建设</p>
                        </a>
                    </div>
                    <div class="container">
                            
                        <a href="https://www.chinanews.com.cn/cj/2024/01-11/10144371.shtml">
                            <p><img src="static/images/content/pf/caijing8.jpg",alt="Image 6">商务部：我国连续11年成为全球最大网络零售市场</p>
                        </a>
                    </div>
                    <div class="container">
                            
                        <a href="https://www.chinanews.com.cn/cj/2024/01-11/10144349.shtml">
                            <p><img src="static/images/content/pf/caijing9.jpg",alt="Image 6">中国人民银行上海总部：打好金融支持“组合拳” 筑牢金融风险“防火墙”</p>
                        </a>
                    </div>
                    <div class="container">
                            
                        <a href="https://www.chinanews.com.cn/cj/2024/01-11/10144330.shtml">
                            <p><img src="static/images/content/pf/caijing10.jpg",alt="Image 6">我国又增一个GDP万亿城市 江苏揽五城独占鳌头</p>
                        </a>
                    </div>
                    <div class="separator line"><div></div></div>
                    
                    <div class="clear"></div>
                </section>
        </div>
        <script>
            function performSearch() {
                var searchTerm = document.getElementById('search-input').value;
                window.location.href = '/about?search=' + searchTerm;
            }

            let slideIndex = 0;
            const slideWidth = document.querySelector('.slide').offsetWidth;
            const totalSlides = document.querySelectorAll('.slide').length;

            function showSlides() {
                const slides = document.querySelector('.slides');
                slideIndex++;

                if (slideIndex >= totalSlides - 1) {
                    // 通过改变 CSS 属性 transition 来实现无缝滚动
                    slides.style.transition = 'none';
                    slideIndex = 0;
                    setTimeout(() => {
                        slides.style.transition = ''; // 恢复默认过渡效果
                    }, 1);
                }

                slides.style.transform = `translateX(-${slideIndex * slideWidth}px)`;
            }

            setInterval(showSlides, 3000); // 每隔3秒切换图片


        </script>
        <!-- FOOTER SIDEBAR -->
        <link rel="stylesheet" href="static/styles/redian1.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles/redian.css">
        
        <div id="guess">
            <section id="maincontent">
                <h2>热点新闻</h2>
                {% if result|length > 0 %}
                    {% for item in result %}
                        <div class="container">
                            <a href="{{ item.url }}">
                                <p>{{ item.title }}</p >
                            </a >
                        </div>
                    {% endfor %}
                {% else %}
                    <p>没有新闻</p >
                {% endif %}

                <div class="separator line">
                    <div></div>
                </div>

                <div class="clear"></div>
            </section>
        </div>

        <!-- END FOOTER SIDEBAR -->

        <!-- FOOTER -->
        <div id="outerfooter">
            <div id="footercontainer">
                <footer id="footer">Copyright &copy; 2014. All Rights Reserved</footer>
            </div>
        </div>
        <!-- END FOOTER -->


    </div>
</div>


</body>

</html>